<h1>{txt key=TEXT_PAGE_TITLE_ACCOUNT}</h1>
{$message}

{if $registered_customer != true}
<p class="headline">{txt key=TEXT_ACCOUNT_TITLE_WELCOME}</p>
<p>{txt key=TEXT_ACCOUNT_WELCOME}</p>
<p><a href="{link page='customer' paction='login' conn=SSL}" class="button">{txt key=TEXT_ACCOUNT_LOGIN}</a></p>
{/if}

{if $registered_customer == true}
<p class="headline">{txt key=TEXT_ACCOUNT_TITLE}</p>
<ul>
    <li><a class="button" href="{link page='customer' paction=edit_customer conn=SSL}">{txt key=TEXT_ACCOUNT_EDIT}</a></li>
    <li><a class="button" href="{link page='customer' paction=address_overview conn=SSL}">{txt key=TEXT_ACCOUNT_ADRESSBOOK}</a></li>
    <li><a class="button" href="{link page='customer' paction=payment_information conn=SSL}">{txt key=FRONTEND_MC_INFO}</a></li>
    {hook key=account_tpl_account_data}
</ul>
{/if}

{hook key=account_tpl_module_data}

{if $order_data}
<p class="headline">{txt key=TEXT_ACCOUNT_ORDERS} {if $order_data} & {txt key=TEXT_ACCOUNT_DOWNLOADS}{/if}</p>
{include file="xtCore/pages/order_history_block.html" type="tpl_include"}
{/if}

{if $download_flag == true}
<p><a class="button float-left" href="{link page='customer' paction=download_overview conn=SSL}">{txt key=TEXT_ACCOUNT_DOWNLOADS_MORE}</a></p>
{/if}

{if $order_data}
<p><a class="button float-right" href="{link page='customer' paction=order_overview conn=SSL}">{txt key=TEXT_ACCOUNT_ALL_ORDERS}</a></p>
{/if}

{hook key=account_tpl_module_data_bottom}
