{if $redirect}
    <script src="plugins/xt_vrpayecommerce/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    {literal}
        <style>
            body {
                background-color: white;
            }       
            #page, #background-top, #background-topmenu {
                display:none;
            }
            button.wpwl-button-brand, .copyright {
                display:none;
            }
        </style>
        <script type="text/javascript">
            var wpwlOptions = {
                     onReady: function(){
                            $(".wpwl-form").submit();
                    }
            }
        </script>
    {/literal}
    <input type="submit" value="Submit" style="display:none" />
    <script src="{$payment_widget_url}" type="text/javascript"></script>
    <form action="{$response_url}" class="paymentWidgets">{$brand}</form>
{else}
    <link href="plugins/xt_vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

    <div id="register-payment">
        <h1>{txt key=FRONTEND_MC_CHANGE}</h1>

        {if !empty($error)} 
            <ul class="error">
                <li>{txt key=ERROR_MC_UPDATE}{$error}</li>
            </ul>
        {/if}       

        {literal}
        <script type="text/javascript">
            var wpwlOptions = {
                locale: "{/literal}{$lang}{literal}",
                 style: "card",
                 onReady: function(){
                    var buttonCancel = "<a href='{/literal}{$cancel_url}{literal}' class='wpwl-button btn_cancel'>{/literal}{txt key=FRONTEND_BT_CANCEL}{literal}</a>";
                    var buttonConfirm = "{/literal}{txt key=FRONTEND_MC_BT_CHANGE}{literal}";
                    var ttRegistration = "<div class='register-tooltip'>{/literal}{txt key=FRONTEND_TT_REGISTRATION}{literal}</div>";
                    var ttTestMode = "<div class='testmode'>{/literal}{txt key=FRONTEND_TT_TESTMODE}{literal}</div>";
                    $('form.wpwl-form').find('.wpwl-button').before(buttonCancel);
                    $('.wpwl-button-pay').html(buttonConfirm);
                    $('.wpwl-container').after(ttRegistration);
                    {/literal}{if $test_mode}{literal}
                        $(".wpwl-container").wrap( "<div class='frametest'></div>").before(ttTestMode);   
                    {/literal}{/if}{literal}  
                }
            }
        </script>
        {/literal}  

        <input type="submit" value="Submit" style="display:none" />
        <script src="{$payment_widget_url}" type="text/javascript"></script>
        <form action="{$response_url}" class="paymentWidgets">{$brand}</form>

    </div>
{/if}
