<link href="plugins/xt_vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

<div id="delete-payment">
    <h1>{txt key=FRONTEND_MC_DELETE}</h1>

    {if !empty($error_message)} 
        <ul class="error">
            <li>{txt key=ERROR_MC_DELETE}{$error_message}</li>
        </ul>
    {/if}    
    <p class="text-unreg">{txt key=FRONTEND_MC_DELETESURE}</p>
    <form class="cancel_form" action="{$cancel_url}" method="post">
        <input type="submit" value="{txt key=FRONTEND_BT_CANCEL}">
    </form>
    <form class="submit_form" action="" method="post">
        <input type="hidden" name="id" value="{$id}"/>
        <input type="hidden" name="selected_payment" value="{$selected_payment}"/>      
        <input type="submit" name="do_delete" value="{txt key=FRONTEND_BT_CONFIRM}">
    </form>     
</div>
