<div id="checkout-confirmation" class="row">
	<div class="column xt-grid-4">
		<div class="box">
		    <p class="headline-underline">{txt key=TEXT_SHIPPING_ADDRESS}</p>
		    <p class="right"><a class="highlight" href="{link page='checkout' paction='shipping' conn=SSL}"></a></p>
			{if $shipping_address.customers_company}<p>{$shipping_address.customers_company}</p>{/if}
			<p>{$shipping_address.customers_firstname} {$shipping_address.customers_lastname}</p>
			<p>{$shipping_address.customers_street_address}</p>
			{if $shipping_address.customers_suburb}<p>{$shipping_address.customers_suburb}</p>{/if}
			<p>{$shipping_address.customers_postcode} {$shipping_address.customers_city}</p>
			<p>{$shipping_address.customers_country}</p>
		</div><!-- .box -->
		<div class="box">
			<p class="headline-underline">{txt key=TEXT_PAYMENT_ADDRESS}<p>
			<p class="right"><a class="highlight" href="{link page='checkout' paction='payment' conn=SSL}"></a></p>
			{if $payment_address.customers_company}<p>{$payment_address.customers_company}</p>{/if}
			<p>{$payment_address.customers_firstname} {$payment_address.customers_lastname}</p>
			<p>{$payment_address.customers_street_address}</p>
			{if $payment_address.customers_suburb}<p>{$payment_address.customers_suburb}</p>{/if}
			<p>{$payment_address.customers_postcode} {$payment_address.customers_city}</p>
			<p>{$payment_address.customers_country}</p>
		</div><!-- .box -->
	</div><!-- .column .xt-grid-4 -->	
	<div class="column xt-grid-12">
		{hook key=checkout_tpl_info}
		<div class="box">
		<p class="headline-underline">Tilgungsplan:<p>
			{$servertoserver_txt} <br>
			<a href="{$servertoserver_link}" target="_blank" style="color:blue">{txt key=FRONTEND_EASYCREDIT_LINK}</a>
		</div><!-- .box -->
		<div class="box box-grey">
			<table>
				<thead>
					<tr>
						<th>{txt key=TEXT_ARTICLE}</th>
						<th></th>
						<th width="100" class="right">{txt key=TEXT_SINGLE_PRICE}</th>
						<th width="100" class="right">{txt key=TEXT_QTY}</th>
						<th width="100" class="right">{txt key=TEXT_TOTAL_PRICE}</th>
					</tr>
				</thead>
				<tfoot>
					{hook key=checkout_tpl_form_total_lines}
					<tr>
						<td></td>
						<td colspan="4">
							<p class="sub-total">{txt key=TEXT_SUB_TOTAL}<span class="float-right">{$sub_total}</span></p>
        					
    						<p>Standard<span class="float-right">{$sub_data.products_price.formated}</span></p>
    						
							<p id="donation"><span id="lfnds-row-label"></span><span id="lfnds-row-value" class="float-right"></span></p>
   							<p class="sub-total">{txt key=TEXT_TOTAL}<span id="grand-total-value" class="float-right">{$total}</span></p>
   							<p class="sub-total">{txt key=FRONTEND_EASYCREDIT_INTEREST}<span id="grand-total-value" class="float-right">
   							{$servertoserver_currency} {$servertoserver_sum}</span></p>
    						<p class="total">{txt key=FRONTEND_EASYCREDIT_TOTAL}<span id="grand-total-value" class="float-right">{$servertoserver_currency} {$servertoserver_total}</span></p>
						</td>
					</tr>
				</tfoot>
				<tbody>
					{$cart}
				</tbody>
			</table>
				
				<form action="{$success_url}" method="GET" class="float-right">
					<input type="submit" onclick="window.location.href='{$success_url}';return false;" value="{txt key=GENERAL_TEXT_CONFIRM_ORDER}">
				</form>

				<br><br><br>
		</div><!-- .box -->
	</div><!-- .column .xt-grid-12 -->
</div><!-- #checkout-confirmation .row -->
{hook key=checkout_tpl_confiramtion}
{form type=formend}
{hook key=checkout_tpl_bottom}