{if $is_recurring_active}
    <link href="plugins/xt_vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

    <div id="payment-information">
        <h1>{txt key=FRONTEND_MC_INFO}</h1>
        {if !empty($success)}
            <ul class="success">
                <li>
                    {if $success == 'register'}
                        {txt key=SUCCESS_MC_ADD}
                    {/if}
                    {if $success == 'change' }
                        {txt key=SUCCESS_MC_UPDATE}
                    {/if}
                    {if $success == 'delete' }
                        {txt key=SUCCESS_MC_DELETE}
                    {/if}
                </li>
            </ul>
        {/if}
        {if !empty($error)} 
            <ul class="error">
                <li>{$error}</li>
            </ul>
        {/if}
        {if $is_ccsaved_active}
            <div class="box">
                <div class="group"><h3>{txt key=FRONTEND_MC_CC}</h3></div>
                {foreach from=$cc_payment_account item=list}
                    <div class="group-list">
                        <div class="group-img">
                            <img src="plugins/xt_vrpayecommerce/images/{$list.brand|lower}.png" class="brandImage" alt="{$list.brand}">
                        </div>
                        <span class="group-info">{txt key=FRONTEND_MC_ENDING} {$list.last4digits}; {txt key=FRONTEND_MC_VALIDITY} {$list.expiry_month}/{$list.expiry_year|substr:2}</span>
                        <div class="group-button">
                            {if $list.payment_default}
                                <button class="button btnDefault">{txt key=FRONTEND_MC_BT_DEFAULT}</button>
                            {else}
                                <form action="" method="post">
                                    <input type="hidden" name="id" value="{$list.id}"/>
                                    <input type="hidden" name="selected_payment" value="CCSAVED"/>
                                    <input type="hidden" name="set_default" value="1"/>
                                    <button class="button btnDefault" type="submit" value="submit">{txt key=FRONTEND_MC_BT_SETDEFAULT}</button>
                                </form> 
                            {/if}
                            <form class = "btnChange" action="{link page='customer' paction=change_payment conn=SSL}" method="post">
                                <input type="hidden" name="id" value="{$list.id}"/>
                                <input type="hidden" name="selected_payment" value="CCSAVED"/>
                                <button class="button btnChange" type="submit" value="submit">{txt key=FRONTEND_MC_BT_CHANGE}</button>
                            </form>
                            <form class ="btnDelete" action="{link page='customer' paction=delete_payment conn=SSL}" method="post">
                                <input type="hidden" name="id" value="{$list.id}"/>
                                <input type="hidden" name="selected_payment" value="CCSAVED"/>
                                <button class="button btnDelete" type="submit" value="submit">{txt key=FRONTEND_MC_BT_DELETE}</button>
                            </form>
                        </div>
                        <div style="clear:both"></div>  
                    </div>
                {/foreach}
                <div class="group-add">
                    <form class = "btnAdd" action="{link page='customer' paction=register_payment conn=SSL}" method="post">
                        <input type="hidden" name="selected_payment" value="CCSAVED"/>
                        <button class="button" type="submit" value="submit">{txt key=FRONTEND_MC_BT_ADD}</button>
                    </form>
                </div>
            </div><!-- .box -->
        {/if}

    {if $is_ddsaved_active}
        <div class="box">
            <div class="group"><h3>{txt key=FRONTEND_MC_DD}</h3></div>
            {foreach from=$dd_payment_account item=list}
                <div class="group-list">
                    <div class="group-img">
                        <img src="plugins/xt_vrpayecommerce/images/sepa.png" class="brandImage" alt="SEPA">
                    </div>          
                    <span class="group-info">{txt key=FRONTEND_MC_ACCOUNT} {$list.last4digits}</span>
                    <div class="group-button">
                        {if $list.payment_default}
                            <button class="button btnDefault">{txt key=FRONTEND_MC_BT_DEFAULT}</button>
                        {else}
                            <form action="" method="post">
                                <input type="hidden" name="id" value="{$list.id}"/>
                                <input type="hidden" name="selected_payment" value="DDSAVED"/>
                                <input type="hidden" name="set_default" value="1"/>
                                <button class="button btnDefault" type="submit" value="submit">{txt key=FRONTEND_MC_BT_SETDEFAULT}</button>
                            </form> 
                        {/if}
                        <form class = "btnChange" action="{link page='customer' paction=change_payment conn=SSL}" method="post">
                            <input type="hidden" name="id" value="{$list.id}"/>
                            <input type="hidden" name="selected_payment" value="DDSAVED"/>
                            <button class="button btnChange" type="submit" value="submit">{txt key=FRONTEND_MC_BT_CHANGE}</button>
                        </form>
                        <form class ="btnDelete" action="{link page='customer' paction=delete_payment conn=SSL}" method="post">
                            <input type="hidden" name="id" value="{$list.id}"/>
                            <input type="hidden" name="selected_payment" value="DDSAVED"/>
                            <button class="button btnDelete" type="submit" value="submit">{txt key=FRONTEND_MC_BT_DELETE}</button>
                        </form>
                    </div>
                    <div style="clear:both"></div>
                </div>
            {/foreach}
            <div class="group-add">
                <form class = "btnAdd" action="{link page='customer' paction=register_payment conn=SSL}" method="post">
                    <input type="hidden" name="selected_payment" value="DDSAVED"/>
                    <button class="button btnAdd" type="submit" value="submit">{txt key=FRONTEND_MC_BT_ADD}</button>
                </form>
            </div>
        </div><!-- .box -->
    {/if}

    {if $is_paypalsaved_active}
        <div class="box">
            <div class="group"><h3>{txt key=FRONTEND_MC_PAYPAL}</h3></div>
            {foreach from=$paypal_payment_account item=list}
                <div class="group-list">
                    <div class="group-img">
                        <img src="plugins/xt_vrpayecommerce/images/paypal.png" class="brandImage" alt="PayPal">
                    </div>          
                    <span class="group-info">{txt key=FRONTEND_MC_EMAIL} {$list.email}</span>   
                    <div class="group-button">
                        {if $list.payment_default}
                            <button class="button btnDefault">{txt key=FRONTEND_MC_BT_DEFAULT}</button>
                        {else}
                            <form action="" method="post">
                                <input type="hidden" name="id" value="{$list.id}"/>
                                <input type="hidden" name="selected_payment" value="PAYPALSAVED"/>
                                <input type="hidden" name="set_default" value="1"/>
                                <button class="button btnDefault" type="submit" value="submit">{txt key=FRONTEND_MC_BT_SETDEFAULT}</button>
                            </form> 
                        {/if}
                        <form class = "btnChange" action="{link page='customer' paction=change_payment conn=SSL}" method="post">
                            <input type="hidden" name="id" value="{$list.id}"/>
                            <input type="hidden" name="selected_payment" value="PAYPALSAVED"/>
                            <button class="button btnChange" type="submit" value="submit">{txt key=FRONTEND_MC_BT_CHANGE}</button>
                        </form>
                        <form class ="btnDelete" action="{link page='customer' paction=delete_payment conn=SSL}" method="post">
                            <input type="hidden" name="id" value="{$list.id}"/>
                            <input type="hidden" name="selected_payment" value="PAYPALSAVED"/>          
                            <button class="button btnDelete" type="submit" value="submit">{txt key=FRONTEND_MC_BT_DELETE}</button>
                        </form>
                    </div>
                    <div style="clear:both"></div>  
                </div>
            {/foreach}
            <div class="group-add">
                <form class = "btnAdd" action="{link page='customer' paction=register_payment conn=SSL}" method="post">
                    <input type="hidden" name="selected_payment" value="PAYPALSAVED"/>
                    <button class="button btnAdd" type="submit" value="submit">{txt key=FRONTEND_MC_BT_ADD}</button>
                </form>
            </div>
        </div><!-- .box -->
    {/if}

    <a href="{link page='customer' conn=SSL}" class="button">{txt key=BUTTON_BACK}</a>
    </div><!-- #payment-information -->
{/if}
