<style>
    {literal}
    .item-xt_vrpayecommerce img
    {
        height:35px !important;
        vertical-align:middle !important;
        padding: 0 !important;
        background-color: transparent !important;
        border: none !important;
    }

    {/literal}
</style>

{if $payment_name|trim != '' && $payment_code|trim != ''}
<div class="item item-{$payment_code}{if $payment_code == $payment_selected} selected{/if}">
    {if $payment_icon|trim != ''}
    {img img=$payment_icon type=w_media_payment alt=$payment_name class="icon img-responsive img-thumbnail pull-right"}
    {/if}
    <header data-toggle="collapse" data-target=".item-{$payment_code} .collapse">
        <label class="cursor-pointer">
                <span class="check">
                    {if $payment_hidden == true}
                        {form type=hidden name=selected_payment value=$payment_code}
                    {else}
                        {if $payment_code == $payment_selected}
                            {form type=radio name=selected_payment value=$payment_code checked=true}
                        {else}
                            {form type=radio name=selected_payment value=$payment_code}
                        {/if}
                    {/if}
                </span>
            <span class="name">{$payment_name}</span>
            {if $payment_price.formated}
            <small class="price">&nbsp;{$payment_price.formated}</small>
            {/if}
        </label>
    </header>
    <div class="desc collapse{if $payment_code == $payment_selected} in{/if}" style="padding: 20px 50px;">
{foreach from=$sort_number item=sort}
{if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_SORT == $sort && $is_recurring && $is_customer}
    {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:CCSAVED"}</span>
                {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_VISA eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/visa.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_MASTER eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/master.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_AMEX eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/amex.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_DINERS eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/diners.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CCSAVED_JCB eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/jcb.png" class = "item-xt_vrpayecommerce">
                {/if}
            </p>
        </div>
    {/if}
{/if}

{if $smarty.const.XT_VRPAYECOMMERCE_CC_SORT == $sort && (!$is_recurring || !$is_customer)}
    {if $smarty.const.XT_VRPAYECOMMERCE_CC_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:CC"}</span>
                {if $smarty.const.XT_VRPAYECOMMERCE_CC_VISA eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/visa.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CC_MASTER eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/master.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CC_AMEX eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/amex.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CC_DINERS eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/diners.png" class = "item-xt_vrpayecommerce">
                {/if}
                {if $smarty.const.XT_VRPAYECOMMERCE_CC_JCB eq '1'}
                    <img src="plugins/xt_vrpayecommerce/images/jcb.png" class = "item-xt_vrpayecommerce">
                {/if}
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_DC_SORT== $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_DC_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:DC"}</span>
                <img src="plugins/xt_vrpayecommerce/images/vpay.png" class = "item-xt_vrpayecommerce">
                <img src="plugins/xt_vrpayecommerce/images/maestro.png" class = "item-xt_vrpayecommerce">
                <img src="plugins/xt_vrpayecommerce/images/dankort.png" class = "item-xt_vrpayecommerce">
                <img src="plugins/xt_vrpayecommerce/images/visaelectron.png" class = "item-xt_vrpayecommerce">
                <img src="plugins/xt_vrpayecommerce/images/postepay.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_DDSAVED_SORT == $sort && $is_recurring && $is_customer}
    {if $smarty.const.XT_VRPAYECOMMERCE_DDSAVED_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:DDSAVED"}</span>
                <img src="plugins/xt_vrpayecommerce/images/sepa.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_DD_SORT == $sort && (!$is_recurring || !$is_customer)}
    {if $smarty.const.XT_VRPAYECOMMERCE_DD_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:DD"}</span>
                <img src="plugins/xt_vrpayecommerce/images/sepa.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_EPS_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_EPS_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:EPS"}</span>
                <img src="plugins/xt_vrpayecommerce/images/eps.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_GIROPAY_SORT == $sort }
    {if $smarty.const.XT_VRPAYECOMMERCE_GIROPAY_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:GIROPAY"}</span>
                <img src="plugins/xt_vrpayecommerce/images/giropay.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_IDEAL_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_IDEAL_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:IDEAL"}</span>
                <img src="plugins/xt_vrpayecommerce/images/ideal.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
<!--
{if $smarty.const.XT_VRPAYECOMMERCE_KLARNAPAYLATER_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_KLARNAPAYLATER_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:KLARNAPAYLATER"}</span>
                {if $smarty.session.selected_language == 'de'}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_paylater_de.png" style="height:35px;
                    vertical-align:middle;">
                {else}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_paylater_en.png" class = "item-xt_vrpayecommerce">
                {/if}
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_KLARNASLICEIT_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_KLARNASLICEIT_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:KLARNASLICEIT"}</span>
                {if $smarty.session.selected_language == 'de'}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_sliceit_de.png" class = "item-xt_vrpayecommerce">
                {else}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_sliceit_en.png" style="height:35px;
                    vertical-align:middle;">
                {/if}
            </p>
        </div>
    {/if}
{/if}
-->
{if $smarty.const.XT_VRPAYECOMMERCE_MASTERPASS_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_MASTERPASS_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:MASTERPASS"}</span>
                <img src="plugins/xt_vrpayecommerce/images/masterpass.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_PAYPALSAVED_SORT == $sort && $is_recurring && $is_customer}
    {if $smarty.const.XT_VRPAYECOMMERCE_PAYPALSAVED_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:PAYPALSAVED"}</span>
                <img src="plugins/xt_vrpayecommerce/images/paypal.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_PAYPAL_SORT == $sort && (!$is_recurring || !$is_customer)}
    {if $smarty.const.XT_VRPAYECOMMERCE_PAYPAL_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:PAYPAL"}</span>
                <img src="plugins/xt_vrpayecommerce/images/paypal.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_PAYDIREKT_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_PAYDIREKT_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:PAYDIREKT"}</span>
                <img src="plugins/xt_vrpayecommerce/images/paydirekt.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_KLARNAOBT_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_KLARNAOBT_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:KLARNAOBT"}</span>
                {if $smarty.session.selected_language == 'de'}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_obt_de.png" class = "item-xt_vrpayecommerce">
                {else}
                    <img src="plugins/xt_vrpayecommerce/images/klarna_obt_en.png" style="height:35px;
                    vertical-align:middle;">
                {/if}
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_EASYCREDIT_SORT == $sort}
    {if $smarty.const.XT_VRPAYECOMMERCE_EASYCREDIT_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">

                {if $disable_easycredit}
                    <span style="display:inline-block;width: 25px;">
                        {form type=radio name=selected_payment_vrpayecommerce value="$payment_code:EASYCREDIT" disabled=true unchecked=true}
                    </span>
                {else}
                    <span style="display:inline-block;width: 25px;">
                        {form type=radio name=selected_payment_vrpayecommerce value="$payment_code:EASYCREDIT"}
                    </span>
                {/if}

                <img src="plugins/xt_vrpayecommerce/images/easycredit.png" class = "item-xt_vrpayecommerce">
                <br />
                    <ul>
                         <!-- validate amount and currency -->
                        {if !$is_amount_allowed}
                            <li>{$smarty.const.ERROR_MESSAGE_EASYCREDIT_AMOUNT_NOTALLOWED}</li>
                        {/if}
                         <!-- validate gender -->
                        {if !$is_gender_not_empty}
                            <li>{$smarty.const.ERROR_MESSAGE_EASYCREDIT_PARAMETER_GENDER}</li>
                        {/if}
                         <!-- validate dob empty-->
                        {if !$is_date_of_birth_valid}
                            <li>{$smarty.const.ERROR_EASYCREDIT_PARAMETER_DOB}</li>
                        {/if}
                         <!-- validate dob future-->
                        {if !$is_date_of_birth_lower_than_today}
                            <li>{$smarty.const.ERROR_EASYCREDIT_FUTURE_DOB}</li>
                        {/if}
                         <!-- validate address -->
                        {if !$is_billing_equal_shipping}
                            <li>{$smarty.const.ERROR_EASYCREDIT_BILLING_NOTEQUAL_SHIPPING}</li>
                        {/if}
                    </ul>
            </p>
        </div>
    {/if}
{/if}
{if $smarty.const.XT_VRPAYECOMMERCE_SWISSPOSTFINANCE_SORT == $sort}

    {if $smarty.const.XT_VRPAYECOMMERCE_SWISSPOSTFINANCE_ACTIVATE eq '1'}
        <div class="box box-white box-hover vrpayecommerce">
            <p class="payment-name">
                <span style="display:inline-block;width: 25px;">{form type=radio name=selected_payment_vrpayecommerce value="$payment_code:SWISSPOSTFINANCE"}</span>
                <img src="plugins/xt_vrpayecommerce/images/swisspostfinance.png" class = "item-xt_vrpayecommerce">
            </p>
        </div>
    {/if}
{/if}
{/foreach}
</div>
</div>
{/if}
